In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('C:\\Users\\Amol\\Downloads\\carlane.xlsx')

In [4]:
df

     rd  ld    label
0     1   1  OutLane
1     4   6  OutLane
2     3   6  OutLane
3     5   8   InLane
4     7   1  OutLane
..   ..  ..      ...
195   1   4  OutLane
196   2   5  OutLane
197   8   5   InLane
198   6   8   InLane
199   7   6   InLane

[200 rows x 3 columns]

In [6]:
df['label'].unique()

array(['OutLane', 'InLane'], dtype=object)

In [7]:
x=df[['rd','ld']]

In [8]:
x

     rd  ld
0     1   1
1     4   6
2     3   6
3     5   8
4     7   1
..   ..  ..
195   1   4
196   2   5
197   8   5
198   6   8
199   7   6

[200 rows x 2 columns]

In [9]:
y=df['label']

In [10]:
y

0      OutLane
1      OutLane
2      OutLane
3       InLane
4      OutLane
        ...
195    OutLane
196    OutLane
197     InLane
198     InLane
199     InLane
Name: label, Length: 200, dtype: object

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr=LogisticRegression()

In [13]:
lr.fit(x,y)

LogisticRegression()

In [20]:
ypred=lr.predict(x)
ypred

array(['OutLane', 'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane',
       'InLane', 'InLane', 'OutLane', 'InLane', 'OutLane', 'InLane',
       'InLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'InLane', 'OutLane', 'InLane', 'InLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'InLane', 'OutLane', 'InLane', 'InLane',
       'OutLane', 'InLane', 'InLane', 'InLane', 'InLane', 'OutLane',
       'OutLane', 'InLane', 'OutLane', 'InLane', 'InLane', 'OutLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'InLane',
       'InLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'InLane',
       'InLane', 'InLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'InLane', 'InLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'InLane', 'InLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'InLane', 'InLane', 'OutLane', 'OutLane', 'InLane',
       'InLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'OutLane',
       'InLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'InLane', 'OutLane',
       'InLane', 'OutLane', 'OutLane', 'OutLane', 'InLane', 'InLane',
       'InLane', 'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane', 'OutLane',
       'OutLane', 'OutLane', 'OutLane', 'InLane', 'OutLane', 'InLane',
       'OutLane', 'OutLane', 'OutLane', 'InLane', 'OutLane', 'OutLane',
       'OutLane', 'InLane', 'InLane', 'InLane', 'OutLane', 'OutLane',
       'OutLane', 'InLane', 'InLane', 'InLane', 'InLane', 'InLane',
       'InLane', 'OutLane', 'OutLane', 'InLane', 'InLane', 'InLane',
       'OutLane', 'OutLane', 'OutLane', 'OutLane', 'OutLane', 'InLane',
       'InLane', 'InLane'], dtype=object)

In [15]:
from sklearn.metrics import classification_report,accuracy_score

In [21]:


print(classification_report(y,ypred))

              precision    recall  f1-score   support

      InLane       1.00      1.00      1.00        69
     OutLane       1.00      1.00      1.00       131

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

In [18]:
accuracy_score(y,ypred)

1.0